.product-listing {
  padding: 80px 100px;

  &__title {
    font-size: 42px;
    font-weight: 400;
    color: #1d1f22;
    text-transform: capitalize;
    margin: 0 0 80px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

.loading,
.error {
  padding: 80px 100px;
  font-size: 18px;
  color: #1d1f22;
}
