* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.app {
  min-height: 100vh;
  background: #fff;
}

.main {
  min-height: calc(100vh - 80px);
}
